.git
.DS_Store
node_modules
**/node_modules
.pnpm-store

dist
**/dist
.next
**/.next
coverage
**/coverage
playwright-report
test-results
e2e/playwright/test-results
e2e/playwright/playwright-report

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
